// @import "reset";
// @import "mixins";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1;font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Microsoft Yahei", "WenQuanYi Micro Hei", "Lucida Grande", sans-serif;} ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }
a {text-decoration: none;}
*,*:after,*::before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

$h: 0.13vh;
@mixin flexC {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.move {
    animation-name: move;
    animation-duration: 10s;
}
@keyframes animSlideTop {
    0% {transform: translate3d(0,-100%,0); }
    100% {transform: translate3d(0,0,0); }
}
@keyframes move {
    0% {width: 100%; }
    100% {width: 0;}
}
@keyframes light {
    0% {box-shadow:0 1px 2px rgba(#062C06, 0.1);}
    100% {box-shadow: 0 0 12*$h rgba($color: #ADE220, $alpha: 0.6), 0 0 12*$h rgba($color: #ADE220, $alpha: 0.6) inset;}
}
#app {
    background: url(./images/desk.jpg) center 0 no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
@media screen and (orientation: portrait) {
    #app {
        -webkit-transform:rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 100vh;
        height: 100vw;
        $h: 0.13vw;
        /*去掉overflow 微信显示正常，但是浏览器有问题，竖屏时强制横屏缩小*/
        // overflow: hidden;
    }
}
@media screen and (orientation: landscape) {
    #app {
        -webkit-transform:rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        $h: 0.13vh;
    }
}

.deskBG {
    h2 {
        display: block;
        margin: 0 auto;
        height: 150* $h;
        width: 450* $h;
        background: url(./images/titleCh.png) 0 30*$h no-repeat;
        background-size: cover;
    }
    // .timessLine {
    //     position: absolute;
    //     left: 0;
    //     bottom: 40*$h;
    //     width: 60%;
    //     height: 5*$h;
    //     background: rgba($color: #000, $alpha: 0.6);
    //     border-radius: 2*$h;
    //     &::after {
    //         content: '';
    //         display: block;
    //         width: 0;
    //         height: 5*$h;
    //         background: rgba($color: red, $alpha: 0.6);
    //         box-shadow: 0 -3*$h 3*$h 1*$h rgba($color: #000000, $alpha: .5);
    //         border-radius: 2*$h;
    //         @extend .move;
    //     }
    // }
}
.XModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9100;
}
.usersBar {
    display: flex;
    margin: 0 auto;
    padding-top: 50 * $h;
    justify-content: center;
    // height: 120 * $h;
// @include  * $h(border-width, 25);
    div {
        position: relative;
        margin: 15 * $h;
        width: 300 * $h;
        height: 300 * $h;
        border-radius: 50%;
        text-align: center;
        font-size: 120 * $h;
        color: #fff;
        line-height: 300 * $h;
        cursor: pointer;
        // transition: all 1s;
        &.active {
            &::before {
                animation-name: light;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-duration: 1s;
                // border: 2*$h solid #ADE220;
            }
        }
        &:before {
            position: relative;
            content: '';
            display: block;
            margin: 30 * $h auto;
            width: 240 * $h;
            height: 240 * $h;
            border-radius: 50%;
            background: url(./images/red.png) center center no-repeat;
            background-size: auto 86%;
            // border: 3*$h solid #ADE220;
            box-shadow: 0 0 12*$h rgba($color: #ADE220, $alpha: 0.6);
        }
        &:after {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 240 * $h;
            height: 240 * $h;
            border-radius: 50%;
            content: '';
            width: inherit;
            height: inherit;
            background: rgba($color: #000, $alpha: .8);
        }
        &.L {
            &:before {
                background: url(./images/l.png);
                background-size: cover;
            }
        }
        &.F {
            &:before {
                background: url(./images/f.png);
                background-size: cover;
            }
        }
        &.Y {
            &:before {
                box-shadow: 0 0 8*$h rgba($color: #F9FBA8, $alpha: 1);
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: block;
                width: inherit;
                height: inherit;
                background: url(./images/userCh.png);
                background-size: cover;
            }
        }
        &.empty {
            &::before {
                border: 0;
                box-shadow: none;
            }
        }
        span {display: none;margin-top: -35 * $h;font-size: 6 * $h;line-height: 20 * $h;color: #000;}
    }
}
.play {
    h2 {display: none;}
    .usersBar {
        margin: 0;
        div {
            position: fixed;
            width: 50 * $h;
            height: 50 * $h;
            font-size: 32 * $h;
            line-height: 50 * $h;
            z-index: 9999;
            &:before {
                margin: 0;
                width: 46 * $h;
                height: 46 * $h;
                box-shadow: 0 0 3*$h 3*$h rgba($color: #000000, $alpha: .6);
            }
            &:nth-child(1) {
                left: 20 * $h;
                top: 20 * $h;
            }
            &:nth-child(2) {
                width: 100 * $h;
                height: 100 * $h;
                left: 20 * $h;
                bottom: 20 * $h;
                &:before {
                    width: 86 * $h;
                    height: 86 * $h;
                }
            }
            &:nth-child(3) {
                right: 20 * $h;
                top: 20 * $h;
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: none;
                width: inherit;
                height: inherit;
                background: url(./images/userCh.png);
                background-size: cover;
            }
            &.active {
                &::before {
                    animation-name: light;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                    animation-duration: 1s;
                    // box-shadow: 0 0 30*$h 10*$h rgba($color: #ADE220, $alpha: 0.6), 0 0 10*$h 3*$h rgba($color: #ADE220, $alpha: 0.6) inset;
                    // border: 1*$h solid #ADE220;
                }
            }
        }
    }
}
//盖着的牌、上家牌、下家牌
.DCards,.UPcards,.UNcards {
    @include flexC;
    div {
        position: relative;
        width: 64 * $h;
        height: 86 * $h;
        margin-left: -48 * $h;
        // border: 1 * $h solid #222;
        background: url(./images/bg.jpg) center center no-repeat;
        background-size: cover;
        border-radius: 4 * $h;
        transition: all 1s;
        // box-shadow: 0 0 5 * $h #062C06;
    }
    &.DCold {
        position: relative;
        // display: block;
        // margin: auto;
        // width: 70%;
        // height: 600*$h;
        // div {
        //     transform:scale(1.6,1.6);
        //     margin: 50*$h 0 50*$h -13*$h;
        // }
        // div:first-child {
        // }
        // @for $i from 1 through 54 {
        //     div:nth-of-type(#{$i}) {
        //         transform: rotate(($i - 1) * 3  + deg);
        //     }
        // }
    }
}
//上家牌
.UPcards {
    position: fixed;
    top: 268 * $h;
    left: 60 * $h;
    transform:rotate(90deg);
}
//下家牌
.UNcards {
    position: fixed;
    top: 220 * $h;
    right: 60 * $h;
    transform:rotate(-90deg);
}
//翻白的牌、自家牌、钓上来的牌
.WCards,.UMcards,.MYcards {
    display: inline-block;
    vertical-align: middle;
    margin-top: 120 * $h;
    padding: 0 15 * $h;
    letter-spacing: -3 * $h;
    border: 5 * $h solid rgba($color: #ADE220, $alpha: .4);
    text-align: center;
    border-radius: 8 * $h;
    div {
        position: relative;
        display: inline-block;
        letter-spacing: 0;
        margin: 20 * $h 5 * $h;
        padding: 10 * $h;
        width: 104 * $h;
        height: 140 * $h;
        border: 1 * $h solid #222;
        background: #fff;
        background-size: cover;
        border-radius: 4 * $h;
        box-shadow:  2*$h  2*$h 5 * $h 2 * $h #062C06, 0 0 10 * $h #ddd inset;
        text-align: left;
        font-size: 34 * $h;
        vertical-align: middle;
        // transition: all 1s;
        // border: 1px solid #dcdcdc;
        &.A {
            background: #fff url(./images/cardA.png) center center no-repeat;
            background-size: 50%;
            color: red;
        }
        &.B {
            background: #fff url(./images/cardB.png) center center no-repeat;
            background-size: 50%;
        }
        &.C {
            background: #fff url(./images/cardC.png) center center no-repeat;
            background-size: 50%;
            color: red;
        }
        &.D {
            background: #fff url(./images/cardD.png) center center no-repeat;
            background-size: 50%;
        }
        &.Z {
            background: #fff url(./images/cardZ.png) center center no-repeat;
            background-size: 80%;
            color: red;
            font-size: 18 * $h;
        }
        &.V {
            background: #fff url(./images/cardV.png) center center no-repeat;
            background-size: 80%;
            font-size: 18 * $h;
        }
        &::after {
            display: none;
            top: 140*$h - 2*$h;
        }
    }
}
.UMcards {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 40 * $h;
    padding: 0;
    height: 140 * $h;
    border: 0;
    overflow: hidden;
    div {
        margin-top: 0;
        margin-bottom: 0;
    }
    // &.des {
    //     div {
    //         position: relative;
    //         margin-top: 15*$h;
    //         // background:linear-gradient(-45deg,transparent 15px #fff 0);
    //         // background:linear-gradient(-45deg,transparent 15px, #fff 0);
    //         &::after {
    //             display: block;
    //             position: absolute;
    //             top: 124*$h;
    //             left: 0;
    //             content: '';
    //             width: 100%;
    //             height: 4*$h;
    //             background: #000;
    //             box-shadow: 0 -2*$h 2*$h rgba($color: #000, $alpha: 0.6);
    //         }
    //     }
    // }
}
.MYcards {
    position: fixed;
    padding: 0;
    bottom: 40 * $h;
    width: 150 * $h;
    right: 40 * $h;
    border: 0;
    div {
        float: left;
        margin: - 76 * $h 5 * $h 0 0;
        width: 64 * $h;
        height: 86 * $h;
        background: #fff;
        font-size: 18 * $h;
        box-shadow: 0 0 3 * $h #062C06, 0 0 3 * $h #ddd inset;
        &.Z,&.V {
            font-size: 12 * $h;
        }
    }
    //查看钓上来的牌
    &.XModal {
        width: auto;
        right: 0;
        padding: 100 * $h;
        font-size: 18 * $h *2;
        div {
            float: none;
            margin: 20 * $h 5 * $h;
            padding: 10 * $h;
            width: 104 * $h;
            height: 140 * $h;
        }
    }
}
.pageEnd {
    h2 {
        display: block;
        margin: 0 auto;
        height: 150* $h;
        width: 400* $h;
        background: url(./images/titleEnd.png) 0 30*$h no-repeat;
        background-size: 100% auto;
    }
    .resultList {
        @include flexC;
        padding-top: 100*$h;
        .user {
            margin: 20*$h 20*$h;
            width: 240*$h;
            height: 220*$h;
            border: 4*$h solid #ADE220;
            border-radius: 16*$h;
            background: rgba($color: #000000, $alpha: .4);
            .avatar {
                margin: -40*$h auto 0;
                width: 80*$h;
                height: 80*$h;
                border-radius: 50%;
                background: 0 0 no-repeat;
                &.Z {
                    background: url(./images/z.png);
                    background-size: cover;
                }
                &.L {
                    background: url(./images/l.png);
                    background-size: cover;
                }
                &.F {
                    background: url(./images/f.png);
                    background-size: cover;
                }
            }
            .name {
                padding: 25*$h;
                text-align: center;
                font-size: 36*$h;
                color: #F9FBA8;
                font-weight: 700;
            }
            .score {
                margin: 5*$h 40*$h;
                line-height: 60*$h;
                font-size: 44*$h;
                font-weight: 700;
                background-color: rgba($color: #000000, $alpha: .4);
                color: #F9FF00;
                border-radius: 12*$h;
            }
            &.me {
                margin-top: 0;
                width: 280*$h;
                height: 260*$h;
                border-width: 8*$h;
                .avatar {
                    position: relative;
                    margin-top: -54*$h;
                    width: 108*$h;
                    height: 108*$h;
                    &::before {
                        position: absolute;
                        top: -34*$h;
                        left: -4*$h;
                        display: block;
                        content: '';
                        width: 126*$h;
                        height: 144*$h;
                        background: url(./images/m.png) center center no-repeat;
                        background-size: 100%;
                    }
                }
                .score {
                    margin: 20*$h 40*$h;
                }
            }
            &.lost {
                .score {
                    color: red;
                }
            }
        }
    }
    .btnBar {
        div {
            margin: 30*$h auto;
            width: 456*$h;
            height: 100*$h;
            background: url(./images/buttonR.png) center center no-repeat;
            background-size: cover;
            cursor: pointer;
        }
    }
    .exit {
        position: absolute;
        left: 40*$h;
        bottom: 80*$h;
        width: 140*$h;
        height: 56*$h;
        background: url(./images/buttonExit.png) center center no-repeat;
        background-size: cover;
    }
}

ul {
  position: relative;display: flex;flex-flow: row wrap;padding: 50px;
  li {
    // padding: 12 * $h 1 * $h 1 * $h 12 * $h;
    width: 64 * $h;
    height: 86 * $h;
    line-height: 57 * $h;
    font-size:20 * $h;
    border: 1 * $h solid #222;
    background: #fff url(./images/bg.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    text-indent: -9999 * $h;
    text-align: left;
    border-radius: 4 * $h;
  }
  &.oringeCard {
    li {
      margin: 15 * $h -48 * $h 0 0;
      z-index: 1;
      box-shadow: 3 * $h 3 * $h 3 * $h rgba($color: #000000, $alpha: 0.3);
    //   @for $i from 1 to 55 {
    //     &:nth-child(#{$i}) {
    //         margin-top: 15px + $i * 2
    //     }
    //   }
    }
  }
}

ul li.Z1,ul li.Z2 {padding: 0;border: 2px solid;font-size: 20px;}

ul li.open.A,ul li.open.A1,ul li.open.A2,ul li.open.A3,ul li.open.A4,ul li.open.A5,ul li.open.A6,ul li.open.A7,ul li.open.A8,ul li.open.A9,ul li.open.A10,ul li.open.A11,ul li.open.A12,ul li.open.A13 {
  background: #fff url(./images/cardA.png) 10px 10px no-repeat;
  background-size: 30%;
  color: darkred;
  text-indent: 0px;
  border: 1px solid #dcdcdc;
}
ul li.open.C,ul li.open.C1,ul li.open.C2,ul li.open.C3,ul li.open.C4,ul li.open.C5,ul li.open.C6,ul li.open.C7,ul li.open.C8,ul li.open.C9,ul li.open.C10,ul li.open.C11,ul li.open.C12,ul li.open.C13 {
  background: #fff url(./images/cardC.png) 10px 10px no-repeat;
  background-size: 30%;
  color: darkred;
  text-indent: 0px;
  border: 1px solid #dcdcdc;
}
ul li.open.B,ul li.open.B1,ul li.open.B2,ul li.open.B3,ul li.open.B4,ul li.open.B5,ul li.open.B6,ul li.open.B7,ul li.open.B8,ul li.open.B9,ul li.open.B10,ul li.open.B11,ul li.open.B12,ul li.open.B13 {
  background: #fff url(./images/cardB.png) 10px 10px no-repeat;
  background-size: 30%;
  text-indent: 0px;
  border: 1px solid #dcdcdc;
}
ul li.open.D,ul li.open.D1,ul li.open.D2,ul li.open.D3,ul li.open.D4,ul li.open.D5,ul li.open.D6,ul li.open.D7,ul li.open.D8,ul li.open.D9,ul li.open.D10,ul li.open.D11,ul li.open.D12,ul li.open.D13 {
  background: #fff url(./images/cardD.png) 10px 10px no-repeat;
  background-size: 30%;
  text-indent: 0px;
  border: 1px solid #dcdcdc;
}
ul li.open.Z {
  background: #fff url(./images/cardZ.png) 10px 10px no-repeat;
  background-size: 30%;
  text-indent: 0px;
  border-color: darkred;
  border: 1px solid #dcdcdc;
  font-size: 16px;
}
ul li.open.V {
  background: #fff url(./images/cardV.png) 10px 10px no-repeat;
  background-size: 30%;
  text-indent: 0px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
}

section.you {display: flex;flex-flow: row wrap;padding: 50px 0;}
section.you ul {padding: 15px;width: 25%;}
section.you ul.openCard {padding: 15px;width: 25%;border: 3px solid #ddd;}
section.other {display: flex;flex-flow: row wrap;padding: 50px 0;}
section.other ul {padding: 15px;width: 25%;}
section.other ul li {padding: 15px;width: 25%;}
section.other ul.openCard {padding: 15px;width: 25%;border: 3px solid #ddd;}
